$leadColorDark: #0295ff;
$leadColorMid: #58bdfc;
$leadColorLight: #a2e0f9;
$backgroundBody: #fafbfd;
$backgroundButton: #fff;
$unactive: #a6b5c6;
$border: #eaeef1;
$error: #ff3333;
$font: #141414;
$contrast1: #80e30e;
$contrast2: #fdc935;
