.layout {
  &--main {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column-reverse;
    @media (min-width: 800px) {
      flex-direction: row;
    }
  }
  &--controlers {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    @media (min-width: 800px) {
      width: 250px;
      border-right: 1px solid $leadColorDark;
    }
    label {
      display: block;
    }
  }
}

.wrapper {
  &--report {
    margin: 1rem;
    @media (min-width: 800px) {
      width: 200px;
    }
  }
  &--buttons {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  &--selects {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-around;
  }
}
