@import 'colors';
@import 'layouts';
@import 'pixi';
@import 'forms';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $backgroundBody;
}

h1,
p,
label {
  color: $font;
  font-family: 'verdana';
}

p,
label {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

h1 {
  font-size: 1rem;
}
